// resolutions
$desktop: 75rem;
$laptop: 62rem;
$tablets: 48rem;
$phones: 30rem;

//fullpage
@import "../references/fullpage/jquery.fullPage.css";

//Normalize
@import "normalize.scss";


//Media
@import "media.scss";

//Fontello
@import "../references/fontello/css/arrow.scss";
@import "../references/Social_font/css/arrow.scss";

//Fonts
@import "fonts.scss";

//Animate
@import "animate.scss";


html, body {
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

.fixed {
	position:fixed; 
	width:100%; 
}

* {
	box-sizing: border-box;
}

li {
	list-style-type: none;
	padding: 0;
}

ul {
	padding: 0;
	// margin: 0;
}

h2 {
	font-weight: normal;
	margin: 0;
	font-size: 2.5rem;
}

.visuallyHidden {    
    position: absolute; 
    overflow: hidden;   
    clip: rect(0 0 0 0);    
    height: 0.0625rem;    
    width: 0.0625rem; 
    margin: -0.0625rem;   
    padding: 0; 
    border: 0;
    opacity: 0;
}


.section {
	height: 100vh;
	min-height: 650px;
	background-size: cover;
	overflow: hidden;
	position: relative;

}


// First Section

.first-screen {
	background-image: url(../img/first-bg.jpg);
}

.first-screen__content {
	max-width: 61.75rem;
	margin: 0 auto;
	display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    position: relative;
}

.header-menu {
	margin-top: 0.625rem;
	margin-right: 1.25rem;
	margin-left: 1.25rem;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
@include tablets() {
    padding: 0.625rem 1.25rem 0 1.25rem;  
  }
@include phones() {
    padding: 0.625rem 1.25rem 0 1.25rem;  
  }
}


.logo {
	margin-right: auto;
	z-index: 1000;
}

.nav {
    margin-top: -0.25rem;

		
}

.nav__list {
	display: inline-block;
	list-style: none;
	font-family: "ubuntumedium";
	text-transform: uppercase;
	color: #fff;
	font-size: 0.8125rem;
    vertical-align: middle;
  	white-space: nowrap;
  @include tablets() {
    display: none;
  }
	}

.nav__link {
	color: #ffffff;
	font-size: 0.8125rem;
	font-weight: 500;
	line-height: 1.42;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
	&:hover {
		color: #F9B43B;
	}
}

.nav__item:after {
	display: inline-block;
	vertical-align: middle;
	content: ' ';
	width: 0.3125rem;
	height: 0.3125rem;
	border-radius: 50%;
	background-color: #fff;
	margin: 0 0.75rem;
	box-sizing: border-box;
}


.nav__item:last-child:after {
	display: none;

}

.nav__item {
	display: inline;
	white-space: nowrap;
	vertical-align: middle;
}

.nav-mobile {
	display: none;
	position: absolute;
	width: 100%;
  	z-index: 999;
	height: 100vh;
	// min-height: 650px;
	transition: 1s cubic-bezier(0, 0, 0, 0.97);
	background-color: rgba(47, 50, 52, .99);
	// overflow: hidden;

@include tablets() {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    right: 62.4375rem;
	// overflow: hidden;
 //    	&--closed {
	// 	display: none;
	// 	top: 624.938rem;
	// }
  }
}

.nav-mobile__close {
	width: 1.25rem;
	height: 1.25rem;
	position: absolute;
	right: 2.5rem;
	top: 2.8125rem;
	z-index: 1000;
}

.nav-mobile__list {
	display: none;
	position: relative;
	color: #fff;
	z-index: 999;
@include tablets() {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    // margin-top: -130px;
  }
}

.nav-mobile__item {
	display: block;
	width: auto;
	margin-top: 1.6875rem;
	font-family: 'ubunturegular';
	font-size: 1.5rem;
	@include phones() {
		margin-top: 0.6875rem;
	}
    &:after {
		display: flex;
	    vertical-align: middle;
	    content: ' ';
	    width: 0.4375rem;
	    height: 0.4375rem;
	    border-radius: 50%;
	    background-color: #fff;
	    @include phones() {
		margin: 0.625rem auto 0;
	 	 }
	    margin: 1.6875rem auto 0;
	    -webkit-box-sizing: border-box;
	    box-sizing: border-box; }
	&:last-child:after {
		display: none;
	}
	&:first-child {
		margin-top: 0;

	 	
	 }

}

.nav-mobile__link {
	text-decoration: none;
	color: #fff;
	&:hover {
		text-decoration: underline;
	}
}

.burger-menu__link {
	margin-left: 1.875rem;
	display: none;
@include tablets() {
    display: block;
  }
@include phones() {
    display: block;
  }
}

.btn {
	width: 6.0625rem;
	height: 2.1875rem;
	background-color: #e45028;
	border-radius: 0.3125rem;	
	outline: none;
	color: #fff;
	text-transform: uppercase;
	font-family: "ubuntumedium";
	font-size: 0.8125rem;
	text-align: center;
	display: inline-block;
	border: 0;
	cursor: pointer;
}

.btn-reset {
	background-color: transparent;
	text-transform: initial;
}

.order {
	width: 6.0625rem;
	height: 2.1875rem;
	margin-left: 0.875rem;
	 margin-top: -0.25rem;
    // margin-right: -0.125rem;
	background-color: #e45028;
	border-radius: 0.3125rem;
	outline: none;
	color: #fff;
	text-transform: uppercase;
	font-family: "ubuntumedium";
	font-size: 0.8125rem;
	text-align: center;
	line-height: 2.1875rem;
	display: inline-block;
	
}

.order__link {
	display: block;
	text-decoration: none;
	color: #fff; 
}

.btn:hover {
	background-color: #c1401e;
}


.first-screen__main-content {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	// position: absolute;
	top: 50%;
	left: 50%;
	max-width: 53.8125rem;
	// height: 25.875rem;
	// margin: -12.9375rem 0 0 -26.875rem;
 @include tablets920() {
		flex-direction: column;
		text-align: center;
		margin-bottom: 3.125rem;

  }	
 @include phones() {
	margin-top: -40px;
		
  }	
	}

.first-screen__burger {
	margin-top: -0.625rem;
@include phones() {
	transform: scale(.8);
  }	
}

.first-screen__image {
 @include phones() {
	max-width: 100%;
  }	

}

.first-screen__descr {
	margin-left: 0.8125rem;
	padding-top: 4.875rem;


 @include tablets() {
    padding-top: 0;
  }	
}

.section__title {
	font-size: 4.5rem;
	font-family: 'gagalin';
	font-weight: normal;
	
 @include phones() {
	font-size: 3.125rem;
	margin-top: 0;
	margin-bottom: 0;
  }	
}

.first-screen__title {
 @include phones() {
	margin-top: 0;
	margin-bottom: 0;
  }	

}

.section__title--orange {
	color: #f9b43b;
}

.first-screen__main-text {
	font-size: 4.0625rem;
	line-height: 3.75rem;
	margin-top: 1.25rem;
	font-family: 'lifehack';
	color: #fff;
	letter-spacing: -1.39.0625rem;
	display: block;
 @include phones() {
	font-size: 2.6rem;
  }	

	
}

.arrow-down {
	text-align: center;
	margin-bottom: 1.5625rem;
 @include phones() {
	display: none;
	  }	

}

.arrow-down__pic {
	animation-duration: .2s;
}

// Second Section

.we {
	background-image: url(../img/vegetables.jpg);
	display: flex;
	max-height: 100vh;
	min-height: 650px;
	flex-direction: column;
	justify-content: space-around;
 	@include phones() {
		justify-content: flex-start;
		background-image: url(../img/vegetables-phones.jpg);
	  }		
}

.we__content {
	min-height: 650px;
}

.we__title {
	padding-top: 0.9375rem;
	text-align: center;
	margin-bottom: 50px;
 	@include phones() {
		margin-bottom: 10px;
		padding-top: 0;
	  }		

}

.section__title--black {
	color: #2f3234;

}

.we-advantages {

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
 	align-items: center;
	margin: 0 auto;
	max-width: 58.75rem;

}

.we-advantages__text {
	text-align: center;
@include phones() {
	text-align: left;
	margin-left: 1rem;
	font-size: 12px;
  }	
}

.we-advantages__list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	max-width: 58.75rem;
	justify-content: space-between;
	list-style-type: none;
	align-items: baseline;
	padding: 0;
	z-index: 1;

 @include tablets() {
    padding: 0 1.25rem;
  }	
 @include phones() {
    flex-direction: column;
    margin:0;
    padding: 0;
    align-items:baseline;
    width: 100%;

  }	
	

}


.we-advantages__item {
	max-width: 18.75rem;
	margin-right: 1.875rem;
	display: flex;
	flex-direction: column;
	&:last-child {
	margin-right: 0;		
	}
 @include phones() {
    flex-direction: row;
   	margin-right: 0.625rem;
   	margin-left: 0.4375rem;
   	margin-bottom: 1.4375rem;
	max-width: 100%;
	&:last-child {
	margin-right: 0.625rem;		
	}
  }	
}

.we-advantages__visual {
	min-width: 6.0625rem;
	margin-bottom: 1.875rem;
	text-align: center;
	img {
		text-align: center;
	}
@include phones() {
	// margin-left: 1.4375rem;

  }		
}

.we-advantages__title {
	font-family: 'lifehack';
	font-weight: normal;
	font-size: 1.5rem;
	color: #2f3234;
	margin-bottom: 0.8125rem;
}

.we-advantages__descr {
	font-family: 'ubuntulight';
	font-size: 0.875rem;
	line-height: 1.5rem;
	@include phones() {
	font-size: 14px;
	line-height: 1.3;

  }	
}

// burgers Section

.burgers-section {
	background: rgb(249,180,59);
	background: -moz-linear-gradient(top, rgb(249,180,59) 0%, rgb(235,140,56) 48%, rgb(249,180,59) 74%);
	background: -webkit-linear-gradient(top, rgb(249,180,59) 0%,rgb(235,140,56) 48%,rgb(249,180,59) 74%);
	background: linear-gradient(to bottom, rgb(249,180,59) 0%,rgb(235,140,56) 48%,rgb(249,180,59) 74%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9b43b', endColorstr='#f9b43b',GradientType=0 );
	display: flex;
	flex-direction:column;
	justify-content: space-around;
    min-height: 650px;
	} 

.burgers-container {
	position: relative;
    width: 100%;
    margin: 0 auto;
    max-width: 1100px;
    min-height: 650px;
}

.burgers-section-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 93%;
    margin: 0 auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.arrow-left {
	position: absolute;
	left: 0;
	top:50%;
	z-index: 100;
	top:50%;
}

.arrow-right {
	position: absolute;
	right: 0;
	top:50%;
	z-index: 100;
}

.slider__list {
	display: flex;
	// width: 400%; //добавляем ширину через js в зависимости от количества слайдов.
	position: absolute;
	top: 0;
	left: 0;
}

.slider__item {
	display: block;
	max-width: 940px;
	margin: 0 25px;
@include tablets() {
	margin: 0 90px;
	 }	
@include tablets() {
	margin: 0 40px;
	 }	
}

.slider__item-container {
	display: flex;
	max-width: 940px;
@include tablets() {
	flex-direction: column;
	 }		

}


.burgers-section__slider{
	display: flex;
	width: 940px;
	margin: 0 auto;
	position: relative;
	min-height: 31.625rem;
}


.slider__content {
	// margin: 0 auto;
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 67vh;

@include tablets() {
	overflow: initial;
	// min-height: 650px;
	 }	


	
}

.slider__controls {
	position: absolute;
	top: 50%;
	width: 100%;
}

.composition {
	position: absolute;
	width: 5.625rem;
	height: 5.625rem;
	border-radius: 0.25rem;
	background-color: #f08c33;
	text-align: center;	
  @include tablets() {
    left: 5%;
    // top: 8.4375rem;
  }
  @include phones() {
    left: -1.4375rem;
    top: 0;
  }
	&:hover {
		background-color: #e35028;
	}
	&:hover .composition-detail {
		display: block;
		left: 5.625rem;
		@include phones() {
			transform: scale(.7);
			top: 2.5rem;
    		left: -2.5rem;
    		z-index: 2;
		}
	}
}

.composition-detail {
	position: absolute;
	background-color: rgba(254, 248, 236, .9);
	display: none;
	width: 16.875rem;
	height: 20.75rem;
	border-radius: 0.25rem;
	left: 62499.9rem;
	top: 0;
	transition: 1s;
}

.composition-detail__list:first-child {

}
.composition-detail__item {
	display: flex;
	line-height: 2.375rem;
	margin: 0rem 1.25rem 0.875rem 1.125rem;
	// justify-content: space-between;
	font-size: 0.875rem;
	line-height: 1.5rem;
	&:first-child {
		margin-top: 1.125rem;
		}
	span {
		margin-top: 0.5rem;
	}
}

.composition-detail__visual {
	width: 3.125rem;
	height: 2.375rem;
	img {
		width: 100%;
		height: 100%;
	}
}

.composition-detail__name {
	font-family: 'ubuntumedium';
	width: 6.25rem;
	margin-left: 1.25rem;
	text-align: left;
	line-height: 2.375rem;
}

.composition-detail__weight {
	font-family: 'ubuntulight';
	text-align: left;
	margin-left: 1.5625rem;
	line-height: 2.375rem;
	

}

.composition__title {
	margin-top: 0.9375rem;
	cursor: pointer;
}



.burgers-section--title {
	color: #fff;
	margin: 0 0 2.25rem;
	line-height: 4rem;
	overflow: hidden;
	@include phones() {
		font-size: 2.125rem;
		line-height: 3rem;
		margin: 0 0 .25rem;
	}
}

.burgers-section__descr {
	font-family: 'ubuntulight';
	font-size: 0.875rem;
	color: #fff;
	line-height: 1.5rem;
	margin-bottom: 1.5rem;
	@include phones() {
	margin-bottom: 0rem;		
	}
}

.burgers-section__price {
	font-family: 'Gagalin';
	color: #e35028;
}
.burgers-section__ammount {
	font-size: 4.5rem;
	letter-spacing: -.2.1875rem;
	display: inline;
@include phones() {
	font-size: 3.5rem;		
	}

	
}

.burgers-section__currency {
	display: inline;
	font-size: 1.875rem;
}

.burgers-section__order {
	margin-left: 1.875rem;
	display: inline;
	vertical-align: super;
	@include phones() {
		margin: 0;
  }	 
}

.calories {
	position: absolute;
@include tablets() {
	top: 0;
	right: 0;
  }
@include phones() {
	top: 0;
	right: -1.375rem;
  }	  
	
}

.burgers-section-side {
	width: 50%;
	position: relative;
	margin-right: 10px;
	@include tablets() {
	text-align: center;
	width: initial;
	margin-bottom: 20px;
	}	
}
.burgers-section-side__image {
	margin-top: 5.9375rem;
	@include phones() {
	margin-top: 1.9375rem;

  }	  
}

.burgers-section-side__img {
	width: 100%;
	@include tablets() {
		width: 70%;
	}	
}

.arrow{
	min-width: 5rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;	
}

.arrow img {
	max-width: 0.875rem;
	text-align: center;
	margin: 0 auto;
	
}
// team Section

.team-section {
	background-image: url(../img/team.jpg);

}

.team-section__content {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 50%;
	background-color: rgba(49, 52, 54, .93);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: space-around;

 @include tablets() {
    width: 100%;
    text-align: center;
  }	
}

.team-section-team {
	margin-left: 5rem;
 @include tablets() {
	margin-left: 0;
  }	
}

.team__list {
	margin-top: 3.75rem;
	list-style-type: none;
	padding-left: 0;
	// padding-top: 0.625rem;
}

.team-section-team__title {
	color:#f9b43b;
	margin-top: -1.875rem;
}

.team__member {
	margin-left: 0.9375rem;
	margin-bottom: 0.9375rem;
 @include tablets() {
	margin-left: 0;
	text-align: center;
  }	

}

.team__member--active .team__member-name {
	color:#f9b43b;
}



.team__member--active .icon-list-open:before { 
	content: '\e801';
}

.team__member--active .team__member-descr {
	height: 7.8125rem;
	padding-top: 0.5rem;
	max-width: 100%;

 @include tablets() {
	height: 14.0625rem;
	}
 @include phones() {
	width: 100%;
	}
}

.team__member-name {
	font-family: 'Gagalin';
	font-size: 0.875rem;
	line-height: 28.0.6875rem;
	color:#fff;
	text-transform: uppercase;
	margin-left: -0.9375rem;
	margin-bottom: 0.3125rem;
	cursor: pointer;
	&:hover {
		color: #f9b43b;
	}
}

.team__member-descr {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	overflow: hidden;
	align-items: flex-start;
	width: 21.875rem;
	height: 0;
	transition: 1s;
 @include tablets() {
	margin: 0 auto;
	flex-direction: column;
  }	
@include phones() {
	width: 100%;
	}
}


.team__member-avatar {
	min-height: 6.25rem;
	min-width: 6.25rem;
	border-radius: 50%;
	background-position: center center;
	background-size: cover;
 @include tablets() {
	margin: 0 auto 1.25rem;
  }	

}

.team__member-about {
	margin-left: 1.4375rem;
	font-size: 0.875rem;
	color: #fff;
 @include tablets() {
	margin: 0;
  }	
}

.team__member-occ {
	font-family: 'ubuntubold';
	margin-bottom: 0.75rem;

}

.team__member-text {
	font-family: 'ubuntulight';
	line-height: 1.5rem;

}


// menu Section


.menu-section {
	background-image: url(../img/menu-bg.jpg);
}

.section__title--menu-section {
	position: absolute;
	color:#fff;
	margin-top: 5%;
	top: 0;
	margin-left: 5%;

}

.menu {
	position: absolute;
	right: 0;
	top: 0;
	height: 100vh;
	margin: 0;
	padding: 0;

}

.menu__list {
	height: 100vh;
	min-height: 650px;
	margin: 0;
	padding: 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.menu__link {
	text-decoration: none;
	transition: all .2s;
	&:hover .menu__item-title{
		color:#f9b43b;
	}
 	@include phone320() {
 	width: 40px;
	&:hover {
		transform: none;
	}
	}	
	
}

.menu__item {
	height: 100vh;
	min-height: 650px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
 	@include phone320() {
	// width: 60px;
	}	
}

.menu__item-title {
	box-shadow:inset 0 0 0 125rem rgba(0,0,0,.7);
	font-size: 2.5rem;
	padding-left: 0.5625rem;
	font-family: 'gagalin';
	line-height: 4rem;
	color: #fff;
	height: 100vh;
	min-height: 650px;
	width: 5rem;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	text-align: center;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	overflow: hidden;
 	@include phone320() {
	padding: 0;
	width: 40px;
	line-height: initial;
	}	
}


.menu__item-title--meat {
	background-image: url(../img/menu-meat.jpg);
}

.menu__item-title--vegeterians {
	background-image: url(../img/menu-veg.jpg);
}

.menu__item-title--diet {
	background-image: url(../img/menu-diet.jpg);
}


.menu__item--active .menu__item-text {
	opacity: 1;
	transition-delay: .6s;
	// transition: 2s;

}

.menu__item--active .menu__item-content {
	width: 33.75rem;
	display: block;
 	@include tablets() {
	width: 15.5rem;
	}	
 	@include phone320() {
	width: 12.5rem;
	}	
} 

.menu__item--active .menu__item-title {
	color:#f9b43b;
	}

.menu__item-title h2 {
	transform: rotate(-90deg);
	-webkit-transform-origin: 50% 50% 0;
	-moz-transform-origin: 50% 50% 0;
	-ms-transform-origin: 50% 50% 0;
	-o-transform-origin: 50% 50% 0;
	transform-origin: 50% 50% 0;
    margin-left: -10.3125rem;
	display: block;
	width: 25rem;
 	@include phone320() {
	font-size: 1.625rem;
    margin-left: -11.3125rem;
	}	
}


.menu__item-content {
	background-color: rgba(49, 49, 50, .93);
	// 
	width: 0;
	height: 100vh;
	min-height: 650px;
	overflow: hidden;
	transition: .6s;

}

.menu__item-text {
	// width: 33.75rem;
	padding: 3.75rem 1.875rem 0;
	font-size: 0.875rem;
	font-family: 'ubuntulight';
	line-height: 1.5rem;
	color: #fff;
	opacity: 0;
 	@include phone320() {
	padding: 0;
	// font-size: 0.75rem;
	line-height: 1.4;
	}	
}


// reviews Section

.reviews-section {
	background-color: #333333;
}

.reviews {
	height: 100vh;
	min-height: 650px;

}

.reviews__list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
	flex-wrap: wrap;
	height: 100vh;
	min-height: 650px;
}

.reviews__item {
	display: inline-block;
	width: 25%;
	height: 50%;
	overflow: hidden;
	z-index: 1;
	position: relative;
 @include tablets() {
	width: 50%;
	height: 25%;
  }	
}

.reviews__item:hover .reviews__info {
	opacity: 1;

}


.reviews__item:nth-child(2n) {
	background-color: #b9b9b9;
}

.reviews__item:nth-child(2n+1) {
	background-color: #d5d5d5;
}


.reviews__avatar {
	filter: saturate(0%);
	display: block;
	height: 100%;
	background-size: cover;
	background-position: center center;
}

.reviews__info {
	height: 100%;
	width: 100%;
	z-index: 200;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	transition: .5s;
	color:#fff;
	background-color: rgba(20, 20, 20, .7);

}

.reviews__name {
	font-size: 0.875rem;
	// line-height: 28.0.6875rem;
	font-family: 'gagalin';
	margin: 3.125rem 1.25rem 1.25rem 1.25rem;
 @include tablets() {
	text-align: center;
	margin: 1.25rem 1.25rem 1.25rem 1.25rem;
  }	
 @include phones() {
	margin-top: 2.5rem;
  }	

}

.reviews__text {
	max-height: 70%;
	font-size: 0.875rem;
	font-family: 'ubuntulight';
	line-height: 1.5rem;
	margin: 0 1.5625rem 0.625rem 1.25rem;
	text-overflow: ellipsis;
	overflow: hidden;
 @include phones() {
	display: none;
  }	
}

.reviews__detail {
	width: 6.875rem;
	height: 2.1875rem;
	line-height: 2.1875rem;
	border-radius: 0.25rem;
	background-color: #2f3234;
	margin-left: 1.25rem;
 @include tablets() {
	margin: 0 auto;
  }	
}

.reviews__detail a{
	display: block;
	text-decoration: none;
	text-align: center;
	color: #fff;
	font-size: 0.8125rem;
	font-family: 'ubuntumedium';
	text-transform: uppercase;
	}

.reviews__detail:hover {
	background-color: #1f2122;
}

.modal {
	height: 100vh;
	width: 100%;
	background-color: rgba(47,50,52,.92);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	transition: .5s;
}

.modal__close {
	background-color: transparent;
	border: 0;
	position: absolute;
	right: 0;
	cursor: pointer;
	
}

.modal__container {
	width: 470px;
	height: auto;
	background-color: #fff;
	border-radius: 4px;
	margin: 0 auto;
}

.modal-wrapper {
	position: relative;
	margin: 20px;
}

.modalReview__title {
	font-family: 'gagalin';
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.modal__content {
	font-family: 'ubuntulight';
	font-size: 14px;
	line-height: 24px;
}

















// form section

.form-section {
	background-image: url(../img/form-bg.jpg);
	height: 100vh;
	min-height: 650px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
 @include phones() {
	height: initial;
  }	
}

.form-section__title {
	margin-top: 1.6875rem;
	margin-bottom: 4.3125rem;
 @include tablets() {
	text-align: center;
  }	
@include phones() {
	margin-bottom: 1.3125rem;
  }	

  	.section__title {
 @include phones() {
	font-size: 33px;
  }	
  	}
}

.form-section__form {
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
 @include phones() {
	height: auto;
  }	
}

.order-form__fields {
	margin: 0 1.25rem;
}

.order-form__tag {
	max-width: 58.75rem;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
 @include tablets() {
	flex-direction: column;
	// width: 29.0625rem;
  }	
 @include phones() {
	flex-direction: column;
	// padding: 0 1.25rem;
	width: auto;
  }	
}

.order-form-side {
	width: 50%;
	margin-right: 1.25rem;
	&:last-child {
		margin-right: 0;
	}
 @include tablets() {
	width: 100%;
  }
}

.order-form-side__left {
	// margin-right: 0.75rem;
}

.order-form-side__right {
	// margin-left: 0.5rem;
}

.order-form-side__row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-grow: 1;
	margin-bottom: 0.9375rem;
}

.order-form__input {
    border: 0.0625rem #000 solid;
    border-color:transparent;
	border-radius: 0.3125rem;
	outline: none;
	width: 100%;
	height: 2.1875rem;
	font-family: 'ubuntulight';
	padding-left: 0.3125rem;
}
.order-form__input:focus {
	border: 0.125rem solid #f9b43b;
}

.order-form__input--comment {
	height: 7.25rem;
	padding-top: 0.3125rem;
	resize: none;
@include phones() {
	height: 3.25rem;
  }	
}

.order-form__element {
	margin-right: 1.25rem;
	width: 50%;
}


.order-form__element:last-child {
	margin-right: 0;
}

.order-form-side__buttons {
	 @include phones() {
	margin: 0 auto;

  }	

}

.order-form-label {
	display: block ;
	font-family: 'ubuntulight';
	font-size: 0.875rem;
	color:#fff;
	margin-bottom: 0.625rem;
}

.order-form-side__radius {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.order-form-side__radio {
	margin-right: 1.25rem;
	color:#fff;
	font-family: 'ubuntulight';
	font-size: 0.875rem;
	margin-top: 0.9375rem;
	cursor: pointer;
}

.order-form-side__radio-name span{
	margin-right: 1.25rem;
}

.order-form-side__radio-name:focus {
	color: #F9B43B;
}


input[type="radio"], input[type="checkbox"]{
    position: absolute; 
    overflow: hidden;   
    clip: rect(0 0 0 0);    
    height: 0.0625rem;    
    width: 0.0625rem; 
    margin: -0.0625rem;   
    padding: 0; 
    border: 0;
}

input[type="radio"] + label span {
    display:inline-block;
    width:0.9375rem;
    height:0.9375rem;
    margin-right: 0.625rem;
    vertical-align:top;
    background:url(../img/radio_sprite.png) -0.9375rem top no-repeat;
    cursor:pointer;
}


input[type="radio"]:checked + label span {
    background:url(../img/radio_sprite.png) left top no-repeat;
    transition: .5;
}

.order-form-side__checkbox {
	color:#fff;
	font-family: 'ubuntulight';
	font-size: 0.875rem;
	margin-top: 0.3125rem;
	margin-bottom: 0.25rem;
}

.order-form-side__checkbox-name:focus {
	color: #F9B43B;
}

input[type="checkbox"] + label span {
    display:inline-block;
    width:0.9375rem;
    height:0.9375rem;
    margin-right: 0.625rem;
    vertical-align:top;
    background:url(../img/checkbox_sprite.png) left top no-repeat;
    cursor:pointer;
}

input[type="checkbox"]:checked + label span {
    background:url(../img/checkbox_sprite.png) -0.9375rem top no-repeat;
    transition: .5;
}

.order-form__element-street {
	width: 100%;
}


// Contacts section

.contacts-section {
	height: 100%;
}
#map {
	height: 100%;
	width: 100%;
}


.footer {
	bottom: 0;
	position: absolute;
	background-image: url(../img/footer-bg.jpg);
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	width: 100%;
	z-index: 1000;

}

.footer-content {
	height: 3.5625rem;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	margin: 0 5rem;
 @include tablets() {
	margin: 0 1.375rem;
  }	
 @include phones() {
	flex-direction: column;
	height: 7.5rem;
  }	

}

.footer-content__left {
	width: 50%;
	text-align: left;
 @include phones() {
	width: 100%;
	text-align: center;
  }	
}

.footer-content__right {
 @include phones() {
	width: 100%;
	text-align: center;
  }	
}

.footer-content__address {
	color: #fff;
	font-size: 0.875rem;
	font-family: 'ubuntulight';
	line-height: 0.875rem;
	margin: 0.625rem 0;
}

.footer-content__phone {
	color: #b13f21;
	font-family: 'ubuntubold';
	font-size: 0.875rem;
	line-height: 0.875rem;
}

.footer-content__phone-link {
	color: #b13f21;
	text-decoration: none;
	
	&:visited {
	color: #b13f21;
}}

.footer-content__phone::before {
	content: url('../img/icons/phone.svg');
	margin-right: 0.5rem;
}

.footer-socials__list {
	height: 1.25rem;
	padding: 0.125rem 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
@include phones() {
	justify-content: center;
  }	
}

.footer-socials__img {
	height: 1.25rem;
	width: 1.25rem;
	color: #303030;
	transition: .2s;
	font-size: 1rem;
	&:hover {
		color:#fff;
	}
}

.footer-socials__item {
	margin-left: 1.25rem;
}

.footer-socials__item:first-child {
	margin-left: 0;
	margin-right: 0.625rem;
}

.navigation__dots {
	position: fixed;
	right: 48px;
	top: 70px;
	z-index: 3;

@include tablets() {
	display: none;

  }	
}

.navigation__list {
	list-style-type: none;
	display: inline-block;

}


.navigation__item div {
  margin-right: 0.3125rem;
  margin-bottom: 15px;
  border: 0.25rem solid #fff;
  content: "";
  border-radius: 50%;
  position: relative;
  &:before {
  	position: absolute;
    content: "";
    border-radius: 50%;
    width: 1px;
    height: 1px;
    background: transparent;
    border: 1px solid #fff;
    left: -1px;
    top: -1px;
    cursor: pointer;
	transition: .3s;
  }
  &:hover:before {
  	width: 1rem;
    height: 1rem;
    border: 0.125rem solid #fff;
    left: -0.625rem;
    top: -0.625rem;
  }
}

.navigation__item.active div:before {
	 position: absolute;
    content: "";
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    background: transparent;
    border: 0.125rem solid #fff;
    left: -0.625rem;
    top: -0.625rem;
    cursor:pointer;
}

